        <div class="page-header">
            <p>内容管理</p>
        </div>
        <ul class="page-nav">
           <li><a class="nav-active" href="../index/page.html">内容管理</a></li>
           <li><a href="../doc_create/page.html">添加内容</a></li>
        </ul>
        <div class="main"> 
            <div class="search">
                <label for="search-cid">栏目:</label>
                <select id="search-cid">
                        <option value="" selected="selected">学院概况</option>
                        <option value="##"></option>
                        <option value="##"></option>
                        <option value="##"></option>
                        <option value="##"></option>
                        <option value="##"></option>
                        <option value="##"></option>
                </select>
                <label for="search-id">ID:</label>
                <input id="search-id" type="text">
                <label for="search-title">标题:</label>
                <input id="search-title" type="text">
                <label for="search-sort">排序方式:</label>
                <select id="search-sort">
                        <option value="pubdate" selected="selected">发布时间</option>
                        <option value="update">更新时间</option>
                        <option value="id">文档ID</option>
                </select>
                <button class="btn-search">搜索</button>
            </div>
            <!-- 数据表格 -->
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th data-name="id">ID</th>
                        <th data-name="title">标题</th>
                        <th data-name="view_count">点击量</th>
                        <th data-name="cid">栏目</th>
                        <th data-name="updated_at">更新时间</th>
                        <th data-name="operate">管理操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
