<div class="page-header">
    <p>管理员管理</p>
</div>
<ul class="page-nav">
   <li><a class="nav-active" href="../index/page.html">管理员管理</a></li>
   <li><a href="../user_create/page.html">添加管理员</a></li>
</ul>
<div class="main"> 
    <!-- 数据表格 -->
    <table cellspacing="0">
        <thead>
            <tr>
                <th data-name="id">ID</th>
                <th data-name="username">用户名</th>
                <th data-name="role_id">所属角色</th>
                <th data-name="last_ip">最后登录IP</th>
                <th data-name="last_time">最后登录时间</th>
                <th data-name="email">Email</th>
                <th data-name="realname">真实姓名</th>
                <th data-name="operate">管理操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <spam class="btn-sort">排序</span>
</div>
