<div class="page-header">
    <p>来源编辑</p>
</div>
<ul class="page-nav">
    <li><a href="../index/page.html">来源管理</a></li>
    <li><a href="../copyfrom_create/page.html">添加来源</a></li>
</ul>
<div class="main"> 
    <form action="##">
        <div class="option">
            <p class="form-label">来源名称:</p>
            <input type="text" id="copyfrom-title">
        </div>
        <div class="option">
            <p class="form-label">来源链接:</p>
            <input type="text" id="copyfrom-url">
        </div>
        <div class="option">
            <button class="btn-submit" type="submit">确认修改</button>
        </div>
    </form>            
</div>
