<div class="page-header">
    <p>链接编辑</p>
</div>
<ul class="page-nav">
    <li><a href="../index/page.html">链接管理</a></li>
    <li><a href="../link_create/page.html">添加链接</a></li>
</ul>
<div class="main"> 
    <form action="##">
        <div class="option">
            <p class="form-label">链接名称:</p>
            <input type="text" id="link-title">
        </div>
        <div class="option">
            <p class="form-label">链接地址:</p>
            <input type="text" id="link-url">
        </div>
        <div class="option">
            <button class="btn-submit" type="submit">确认修改</button>
        </div>
    </form>            
</div>
