<div class="page-header">
    <p>编辑管理员</p>
</div>
<ul class="page-nav">
   <li><a href="../index/page.html">管理员管理</a></li>
   <li><a href="../user_create/page.html">添加管理员</a></li>
</ul>
<div class="main"> 
    <form action="##">
        <div class="option">
            <p class="form-label">用户名:</p>
            <input type="text" id="username">
        </div>
        <div class="option">
            <p class="form-label">密码:</p>
            <input type="text" id="password">
        </div>
        <div class="option">
            <p class="form-label">确认密码:</p>
            <input type="text" id="password-confirm">
        </div>
        <div class="option">
            <p class="form-label">Email:</p>
            <input type="text" id="email">
        </div>
        <div class="option">
            <p class="form-label">真实姓名:</p>
            <input type="text" id="realname">
        </div>
        <div class="option">
            <p class="form-label">所属角色:</p>
            <select id="role-id">
                <option value="1" selected="selected">超级管理员</option>
                <option value="2">总编</option>
                <option value="3">编辑</option>
                <option value="4">运营总监</option>
                <option value="5">发布人员</option>
            </select>
        </div>
        <div class="option">
            <button class="btn-submit" type="submit">确认修改</button>
        </div>
    </form>            
</div>

