    <!-- 富文本编辑器 -->
    <script charset="utf-8" src="../../../lib/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="../../../lib/kindeditor/lang/zh_CN.js"></script>
    <!-- 时间选择器插件 -->
    <script src="../../../lib/flatpickr/flatpickr.min.js"></script>
    <!-- 弹窗插件 -->
    <script src="../../../lib/notice/jquery.notice.js"></script>
    <!-- 分页条插件 -->
    <script src="../../../lib/jqueryPagination/js/jquery.pagination.min.js"></script>

</body>
</html>