<div id="sidebar">
    <div class="logo">
        
    </div>
    <ul class="side-nav">
        <li><a href="../../cate/index/page.html">栏目管理</a></li>
        <li><a href="../../configManage/index/page.html?group=1">配置管理</a></li>
        <li><a href="../../configSetting/index/page.html?group=1">配置设置</a></li>
        <li><a href="../../copyfrom/index/page.html">来源管理</a></li>
        <li><a href="../../user/index/page.html">管理员管理</a></li>
        <li><a href="../../docManage/index/page.html">内容管理</a></li>
        <li><a href="../../link/index/page.html">友情链接</a></li>
    </ul>
</div>