<div id="sidebar">
    <div class="logo">
        
    </div>
    <ul class="side-nav">
        <li><a class="active" href="index.html">栏目管理</a></li>
        <li><a href="system.html">配置管理</a></li>
        <li><a href="setting-group.html">配置设置</a></li>
        <li><a href="copyfrom.html">来源管理</a></li>
        <li><a href="user.html">管理员管理</a></li>
        <li><a href="doc.html">内容管理</a></li>
        <li><a href="link.html">友情链接</a></li>
    </ul>
</div>