/*顶栏*/
header{
    position: fixed;
    padding-left: 200px;
    width: 100%;
    height: 50px;
    background: #313239;
    z-index: 99;
    .top-nav-left{
        float: left;
        a{
            display: inline-block;
            min-width: 80px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            &:hover{
                background: #fff;
                color: #26272C;
            }
        }
    }
    .top-nav-right{
        float: right;
        .user-nav{
            display: none;
            position: fixed;
        }
    }
    .dropdown-toggle{
        display: inline-block;
        width: 120px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        .tri{
            display: inline-block;
            margin-left: 2px;
            border: 4px solid transparent;
            width: 0;
            border-top: 4px solid #fff;
        }
    }
}
.user-nav li:last-child a{
    border-radius:  0 0 5px 5px  ;
}

.user-nav a{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background: #313239;;
    color: #fff;
    &:hover{
        background: #fff;
        color: #26272C;
    }
}
