        <div class="page-header">
            <p>用户设置</p>
        </div>
        <ul class="page-nav">
           <li><a href="../../home/index/page.html">修改个人资料</a></li>
           <li><a class="nav-active" href="../../home/password/page.html">修改密码</a></li>
        </ul>
        <div class="main"> 
            <form action="##">
                <div class="option">
                    <label class="form-label" for="username">用户名:</label>
                    <span id="username"></span>
                </div>
                <div class="option">
                    <label class="form-label" for="last-time">最后登录时间:</label>
                    <span id="last-time"></span>
                </div>
                <div class="option">
                    <label class="form-label" for="last-ip">最后登录IP:</label>
                    <span id="last-ip"></span>
                </div>
                <div class="option">
                    <label class="form-label" for="password">原密码:</label>
                    <input id="password" type="password">                
                </div>
                <div class="option">
                    <label class="form-label" for="new-password">新密码:</label>
                    <input id="new_password" type="password">
                </div>
                <div class="option">
                    <label class="form-label" for="repeat_new_password">确认新密码:</label>
                    <input id="repeat_new_password" type="password">
                </div>
                <div class="option">
                    <button class="btn-submit" type="submit">修改</button>
                </div>
            </form>            
        </div>
