        <div class="page-header">
            <p>栏目管理</p>
        </div>
        <ul class="page-nav">
           <li><a href="../index/page.html">管理栏目</a></li>
           <li><a href="../create_doc/page.html">添加栏目</a></li>
           <li><a class="nav-active" href="../create_page/page.html">添加单网页</a></li>
           <li><a href="../create_link/page.html">添加外部链接</a></li>
           <li><a href="../create_doc/page.html">更新栏目缓存</a></li>
           <li><a href="../create_doc/page.html">重新统计栏目数据</a></li>
        </ul>
        <div class="main"> 
            <form action="##">
                <div class="option">
                    <p class="form-label">上级栏目:</p>
                    <select id="pid">
                        <option value="" selected="selected">加载中...</option>
                    </select>
                </div>
                <div class="option">
                    <p class="form-label">栏目名称:</p>
                    <input type="text" id="doc-title">
                </div>
                <div class="option">
                    <p class="form-label">英文名称:</p>
                    <input type="text" id="doc-name">
                </div>
                <div class="option">
                    <p class="form-label">封面:</p>
                    <div class="cover">
                        <input type="file" id="doc-cover">
                    </div>
                </div>
                <div class="option">
                    <p class="form-label">是否显示栏目:</p>
                    <label for="doc-t">是</label>
                    <input type="radio" id="doc-t" name="display" value="1" checked="checked">
                    <label for="doc-f">否</label>
                    <input type="radio" id="doc-f" name="display" value="0">
                </div>
                <div class="option">
                    <p class="form-label">是否导航显示:</p>
                    <label for="nav-t">是</label>
                    <input type="radio" id="nav-t" name="nav" value="1" checked="checked">
                    <label for="nav-f">否</label>
                    <input type="radio" id="nav-f" name="nav" value="0">
                </div>
                <div class="option">
                    <p class="form-label">栏目首页模板:</p>
                    <select id="template-index">
                        <option value="" selected="selected">home.doc_index(默认栏目首页模板)</option>
                    </select>
                </div>
                <div class="option">
                    <p class="form-label">SEO标题:</p>
                    <textarea name="" id="meta-title"></textarea>
                </div>
                <div class="option">
                    <p class="form-label">SEO关键词:</p>
                    <textarea name="" id="meta-keywords"></textarea>
                </div>
                <div class="option">
                    <p class="form-label">SEO描述:</p>
                    <textarea name="" id="meta-description"></textarea>
                </div>
                <!-- 富文本编辑器 http://kindeditor.net/docs/usage.html-->
                <div class="option">
                    <p class="form-label">内容:</p>
                    <div class="editor-box">
                        <textarea id="editor_id" name="content">
                            &lt;strong&gt;HTML内容&lt;/strong&gt;
                        </textarea>
                    </div>
                </div>
                <div class="option">
                    <button class="btn-submit">确认添加</button>
                </div>
            </form>            
        </div>
