        <div class="page-header">
            <p>友情链接</p>
        </div>
        <ul class="page-nav">
           <li><a href="../index/page.html">链接管理</a></li>
           <li><a class="nav-active" href="../link-create/page.html">添加链接</a></li>
        </ul>
        <div class="main"> 
            <form action="##">
                <div class="option">
                    <label for="##">链接名称:</label>
                    <input type="text" id="link-title">
                </div>
                <div class="option">
                    <label for="##">链接地址:</label>
                    <input type="text" id="link-url">
                </div>
                <div class="option">
                    <button class="btn-submit" type="submit">确认添加</button>
                </div>
            </form>            
        </div>
