<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <!-- 字体图标库 -->
    <link rel="stylesheet" href="../../../lib/font-awesome/css/font-awesome.min.css">
    <!-- 弹窗插件样式 -->
    <link rel="stylesheet" href="../../../lib/notice/css/jquery.notice.css">
    <!-- 分页条插件样式 -->
    <link rel="stylesheet" href="../../../lib/jqueryPagination/css/jquery.pagination.css">
    <!-- 时间选择器样式 -->
    <!-- 默认 -->
    <!-- <link rel="stylesheet" href="../../../lib/flatpickr/themes/base16_flat.css"> -->

    <!-- 黑色 -->
    <!-- <link rel="stylesheet" href="../../../lib/flatpickr/themes/dark.css.css"> -->
    
    <!-- 蓝色 -->
    <link rel="stylesheet" href="../../../lib/flatpickr/themes/material_blue.css">

    <!-- jq库 -->
    <script src="../../../lib/jq/jquery.min.js"></script>
    <!-- 文件上传插件 -->
    <script src="../../../lib/ajaxfileupload/ajaxfileupload.js"></script>
    <!-- 文件上传按钮样式插件 -->
    <script src="../../../lib/ajaxfileupload/bootstrap-filestyle.min.js"></script>

</head>
<body>
    <header>
        <div class="top-bar">
            <ul class="top-nav-left">
                <li><a href="../../home/index/page.html">网站首页</a></li>
                <li><a href="##">全站更新</a></li>
            </ul>
            <div class="top-nav-right">
                <div class="dropdown-toggle">
                    您好，<span id="current_username"></span><span class="tri"></span>
                </div>
                <ul class="user-nav">
                    <li><a href="../../home/password/page.html">修改密码</a></li>
                    <li><a href="../../home/index/page.html">修改个人信息</a></li>
                    <li><a id="logout" href="##">退出系统</a></li>
                </ul>
            </div>
        </div>
    </header>