<div class="page-header">
    <p>来源管理</p>
</div>
<ul class="page-nav">
   <li><a class="nav-active" href="../index/page.html">来源管理</a></li>
   <li><a href="../copyfrom_create/page.html">添加来源</a></li>
</ul>
<div class="main"> 
    <!-- 数据表格 -->
    <table cellspacing="0">
        <thead>
            <tr>
                <th data-name="sort">排序</th>
                <th data-name="title">名称</th>
                <th data-name="url">链接</th>
                <th data-name="operate">操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <spam class="btn-sort">排序</span>
</div>
