.btn-submit{
    margin: 20px 0 0 155px;
    width: 130px;
    height: 33px;
    background: #313131;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    &:hover{
        opacity: 0.8;
    }
    &:active{
        color: #000;
    }
}
.btn-sort{
    display: inline-block;
    margin-left: 14px;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    &hover{
        background: #6F6F6F;
        color: #fff;
    }
}
.btn-delete, .btn-edit{
    display: inline-block;
    min-width: 50px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-family: '宋体';
    &:hover{
    background: #6F6F6F;
    color: #fff;
}
}
.btn-delete{
    background: #D9534F;
    color: #fff;
}
#content table .operate a, .state a{
    color: #06A2E9;
}
#content table .state a{
    display: block;
    color: #06A2E9;
}

.tb-40-wh{
    width: 40px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
}
#loading{
    display:block;
    height:32px;
    width:32px;
    margin:30px;

}